* {
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;} 


h1 {
    background-color: aquamarine;
}

body {
    font-family: comic sans-serif;
    background-color: rgb(214, 174, 255);}

h1 {
    color: rgb(240, 170, 64);}
